<?php
/**
 * Absolute Web Intellectual Property
 * @copyright    Copyright © 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>

<?php $helper = Mage::helper('absoluteweb_faq2');// @todo: you must set properly URI of your helper ?>
<?php $item = $this->getFaqById() ?>

<form action="<?php /* @todo link to index controller method save */echo Mage::getUrl('Kor/index/save'); ?>" method="POST" id="form-validate">
    <ul class="form-list">
        <?php
        /**
         * @todo complete form use example
         *       class 'required-entry' means that field is required and js will be check it
         *          you can see all classes in the js/prototype/validation.js (line 418)
         */

        ?>
        <li class="wide">
            <input type="hidden" name="question_id" value="<?php if (is_null($item)) echo $item->getId() ?>" class="required"/><br>
            <label for="Question" class="required"><em>*</em><?php echo $helper->__('question') ?></label>
            <div class="input-box">
                <input type="text" name="question" value="<?php if (is_null($item))  echo $item->getQuestion()?>" title="<?php echo $helper->__('something') ?>"
                       class="input-text required-entry"/><br>
                <label for="Answer" class="required"><em>*</em><?php echo $helper->__('Answer') ?></label>
                <div class="input-box">
                    <input type="text" name="answer" value="<?php if (is_null($item))  echo $item->getAnswer()?>" title="--><?php echo $helper->__('something') ?>
                   class="input-text required-entry"/>
                </div>
            </div>
        </li>
    </ul>
    <input type="submit" value="submit">
</form>

<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    //]]>
</script>